<h1>Your Lists</h1>


<div id="list-container">
	
	<div id="list-body">
		<% if !@user.lists.empty? %>
			<ul>
				<% @user.lists.each do |list| %>
					<li data-list-id="<%=h list.id %>">		
						<%= link_to list.title, user_list_path(@user, list) %>
					</li>
				<% end %>
			</ul>
		<% end %>
	</div>

	<div id="list-footer">
		<p><%= link_to 'Create a New List', new_user_list_path(@user) %></p>
		<p><%= link_to 'Back', root_path %></p>
	</div>
	
</div>

