<h1>All Users</h1>

<div id="list-container">

	<div id="list-body">	
		<% if !@users.empty? %>
			<ul>
				<% @users.each do |user| %>
					<li data-user-id="<%=h user.id %>">		
						<%= link_to "#{user.name} (#{user.email})", user_path(user) %>
					</li>
				<% end %>
			</ul>
		<% end %>
	</div>

	<div id="list-footer">
		<p><%= link_to 'Create a New User', new_user_path %></p>
		<p><%= link_to 'Back', root_path %></p>
	</div>
	
</div>






