<p>
	<strong>User:</strong>
	<%= @user.name %> | <%= @user.email %>
</p>

<%= link_to 'Delete User', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to 'Back', users_path %>