<li id="new-item">
	<%= form_for [@user, @list, @list.items.build] do |f| %>
		<span>
			<%= f.text_field :name, :autofocus => @item_focus %>
		</span>
		<span>
			<%= f.submit 'Add Item' %>
		</span>
	<% end %>
</li>