<li id="new-item" class="no-sort <%= 'hidden' if !@item_focus %>">
	<%= form_for [@user, @list, @list.items.build] do |f| %>
		<div id="new-item-text">
			<%= f.text_field :name, :autofocus => @item_focus %>
		</div>
		<div id="new-item-button">
			<%= f.submit 'Add Item' %>
		</div>
	<% end %>
</li>