// Place all the global styles here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$large-screen-threshold: 45em;

/*
http://www.paulirish.com/2012/box-sizing-border-box-ftw/
apply a natural box layout model to all elements
*/
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
	background-color: #d6e8f8;
}

h1, h2 {
	margin: 0;
}

h1 {
	padding-top: .25em;
	padding-bottom: .5em;
	//padding: .5em .2em;
}

.hidden {
	display: none !important;
}

#header-container {
	p { 
		margin: 0 0 .5em 0;
	}
}
	
#main-container {
	margin: 0;
	width: 100%;
	padding: .5em;
	background-color: #fff;	
	/* don't remember why I needed overflow auto here, but it breaks jquery UI sortable scrolling */
	//overflow: auto; /* deal with floating children */

	@media screen and (min-width: $large-screen-threshold) {
		width: $large-screen-threshold;
		margin: 1em auto;
		padding: 1em;
		border: 2px solid #ddd;
	}
}

#content-container {

}

#login-container {	
	display: block;
	padding-top: .5em;
	border-top: 1px solid #eee;
}

#generic-view-container {
	//padding: 0 .5em;
	p {
		margin-top: 0;
	}
}

#flash {
	p {
		padding: 1em;
		border-radius: 5px;
	}

	p.notice {
		background-color: #aedca9;	
		border: 1px solid #5eba55;
	}

	p.alert {
		background-color: #f28192;
		border: 1px solid #e92442;
	}
}

#error-explanation {
	padding: .5em 1em;
	background-color: #f28192;
	border: 1px solid #e92442;
	border-radius: 5px;
}

a.link-button {
	display: inline-block;
	padding: .5em;
	background-color: #eee;
	color: #000;
	text-decoration: none;
	border: 1px solid #d6e8f8;
	border-radius: 2px;

	&:hover { background-color: #d6e8f8; }
}

//standard list presentation to be used throughout interface
#list-container {
	h2, li {
		padding: 5px 10px;
	}
}

#list-header {
	margin: 0 -.5em;
	background-color: #d6e8f8;

	h2 {
		display: inline-block;
		
	}

	a {
		float: right;
		margin-top: .7em;
		margin-right: .5em;
		text-decoration: none;
		color: #555;
	}
}

#list-footer {
	margin-top: 1em;
}

#list-body {
	margin: 0 -.5em;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: table;
			width: 100%;
			
			height: 3em;
			//a bit more height on larger screens / desktops
			//3em seems right for all now?
			/*
			@media screen and (min-width: $large-screen-threshold) and (min-device-width: 1024px) {
				height: 3em;
			}
			*/
			

			//padding: .5em .6em;
			//padding: .5em 0;

			//background-color: #fff;
			border-bottom: 1px solid #ddd;
			&:first-child { 
				border-top: 1px solid #ddd; 
				-webkit-box-shadow: 
					inset 0px 5px 5px -5px #cdcdcd;
			}

			div {
				display: table;
				height: 100%;
				width: 100%;
			}

			a { 
				display: table-cell;
				width: 100%;
				height: 100%;
				color: #000;
				text-decoration: none;
				vertical-align: middle;

				-webkit-transition: inherit; 
			}
		}
	}
}

.left-indent {
	padding-left: 1em;
}