// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul#list-items {
	list-style: none;
	padding-left: 0;

	li {
		
		border-bottom: 1px solid #ddd;
		&:first-child { border-top: 1px solid #ddd; }
		
		a { 
			display: table-cell;
			height: 3em; //with table-cell display, acts like min-height
			padding: .5em 0; //for use when cell height has to expand beyond 3em and it gets crowded
			box-sizing: border-box;
			vertical-align: middle;
			color: #000;
			text-decoration: none; 
		}

		.item-link {
			width: 100%;
			padding-right: 1em;
		}

		.item-delete-link {
			color: red;
		}
	}
}

#new-item {
	margin: 1.5em 0;
}