// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$large-screen-threshold: 45em;

.animated {
    -webkit-transition: 0.4s;
}

#list-body {
	ul {
		li {
			&#new-item-placeholder {
				background-color: #ededed;

				a { 
					display: table;
					color: #777;
					text-shadow: 1px 1px 0px #fff;
				}

				span {
					display: table-cell;
					vertical-align: middle;
				}

				#plus {
					width: 1em;
					font-size: 1.4em; //this looks good on iPhone
					@media screen and (min-width: $large-screen-threshold) {
						font-size: 1.5em;
					}
				}

				#add-item {
					padding-top: 3px; //strange fix
				}
			}

			&#new-item {
				background-color: #ededed;
				form {
					display: table-cell;
					width: 100%;
					vertical-align: middle;

					div {
						display: inline-block;
					}

					#new-item-text {
						width: 60%;
						@media screen and (min-width: $large-screen-threshold) {
							width: 86%;
						}

						input { width: 100%; }
					}
					
					#new-item-button {
						width: 35%;
						@media screen and (min-width: $large-screen-threshold) {
							width: 13%;
						}

						text-align: right;
						float: right;
					}
				}
			}

			&.editing {
				background-color: #eee;
			}
			
			.item-link {
				width: 75%;
				padding-right: .5em;
			}

			.item-edit-link {
				width: 5%;
				@media screen and (min-width: $large-screen-threshold) {
							width: 15%;
						}
				text-align: right;

				img {
					height: 20px;
					width: auto;
					opacity: .6;
				}
			}

			.item-delete-link {
				width: 20%;
				@media screen and (min-width: $large-screen-threshold) {
							width: 10%;
						}
				text-align: right;
				color: red;
			}

			.item-edit {
				display: table-cell;
				vertical-align: middle;
				width: 100%;

				a {
					display: inline;
				}

				input[type=text] {
					width: 100%;
					@media screen and (min-width: $large-screen-threshold) {
							width: 100%;
						}
					padding-left: .1em;
				}

				.item-edit-links {
					margin-top: .25em;
					text-align: right;
					
					a {
						margin-right: .5em;
					}

					.item-edit-done {
						font-weight: bolder;
					}

					.item-edit-cancel {
						color: red;
					}

				}

			}

			&.sorting-item { 
				display: block;
				background-color: #fff;
				border-top: 1px solid #ddd; 
				border-bottom: 1px solid #ddd; 
			}

			&.ui-sortable-placeholder {
				visibility: visible !important;
				background-color: #efefef !important;
				//border-top: 1px solid #ddd !important; 
				border-bottom: 1px solid #ddd !important;
			}

			// flip disabled while I investigate options
			&.flipped {
				background-color: #555;
				border-top: 1px solid;
				border-color: #333;

				-webkit-transform: rotateX(180deg);

				&:first-child {
					-webkit-box-shadow: inset 0px -5px 5px -5px #333;
				}

				&:not(:first-child) { 
					border-bottom: none;
				}

				&.ui-sortable-placeholder {
					border-top: 1px solid #ddd !important; 
					border-bottom: none !important;
				}

				a { 
					//font-size: .75em;
					text-decoration: line-through;

					//keep the text right-side up when flipped
					//scaleY does NOT cause performance issues on iOS like rotateX does here
					-webkit-transform: scaleY(-1) translateZ(1px);
				}

				a.item-link {
					color: #ccc;
				}

				a.item-edit-link {
					display: none;
				}

				a.item-delete-link
				{
					color: #f77;
					text-decoration: none;
					//display: none;
				}
			}
		}
	}
}